<div class="text-center my-4">
	<%= link_to "Recevoir un email", email_index_path, class: "btn btn-primary", method: :post, remote: true %>
</div>
<div class="row">
	<div class="col-6">
		<div class="email-object">
			<% @emails.each do |email|%>
			<div id="<%= email.id %>" <% if email.read == false %> class="non-lu" <% end %> >
				<%= link_to email.object, email, remote: true %>
			</div>
			<% end %>
		</div>
	</div>
	<div class="col-6">
		<div id="email-body"></div>
	</div>
</div>